.container {
  max-width: 100%;
}.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.product-card {
  width: calc(20% - 20px); /* Each product card takes up 20% of the container width */
  margin-bottom: 20px; /* Add margin at the bottom for spacing */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 10px; /* Add padding to create space between product cards */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align the items to make it look neat */
}

/* Adjust product image size to fit within product card */
.product-card img {
  width: 100%; /* Make the image width 100% of the product card */
  height: 200px; /* Set a fixed height to ensure all images are the same size */
  object-fit: cover; /* Cover the area without breaking the aspect ratio */
}

.product-card h2, .product-card p {
  text-align: center; /* Center-align text */
  width: 100%; /* Ensure text occupies the full width of the card */
}

@media screen and (max-width: 768px) {
  .product-card {
    width: calc(33.33% - 20px); /* Set the width to 33.33% of the container width minus margin */
  }
}

@media screen and (max-width: 480px) {
  .product-card {
    width: calc(50% - 20px); /* Set the width to 50% of the container width minus margin */
  }
}