.sliderImage {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  @media (max-width: 576px) {
    .sliderImage {
      height: 150px; /* Adjust height for smaller screens */
    }
  }
  
  @media (min-width: 768px) {
    .sliderImage {
      height: 300px; /* Adjust height for medium screens */
    }
  }
  
  @media (min-width: 992px) {
    .sliderImage {
      height: 450px; /* Adjust height for large screens */
    }
  }
  