.toggle-switch {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 20px;
  }
  
  .toggle-option {
    padding: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  
  .active {
    background-color: green;
  }
  